#### 利用map()函数，把用户输入的不规范英文，变成首字母大写，其余字母小写的规范名字，比如说["AMNAm", "LASA", "JAck"]

In [3]:
def standards(s):
    t = s.lower()
    t = t.capitalize()
    print(t)
    return t

m = list(map(standards, ["AMNAm", "LASA", "JAck"]))
print(m)

Amnam
Lasa
Jack
['Amnam', 'Lasa', 'Jack']

#### 回数：从左向右和从右向左读都是一样的数，例如12321, 999，请利用filter函数

In [7]:
def equal(a, b):
    return a==b

def is_palindrome(n):
    s = str(n)
    for i in range(len(s)):
        if equal(s[i], s[len(s)-i-1]):
            continue
        else:
            return False
    return True

rst = filter(is_palindrome, range(1000))
print(list(rst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

#### 假设我们用一组tuple来表示学生的姓名和成绩，L = [("Bob", 75), ("Adam", 97), ("Bart", 65), ("Liuyang", 29)]用sorted()对上述列表先按照名字排序，然后再按成绩排序

In [41]:
L = [("Bob", 75), ("Adam", 97), ("Bart", 65), ("Liuyang", 89)]
def by_name(n):
    t = sorted(n[0])
    return t
l = sorted(L, key=by_name)
print(l)
print("**" * 30)


L = [("Bob", 75), ("Adam", 97), ("Bart", 65), ("Liuyang", 89)]
def by_name(n):
    t = sorted(range(n[1]))
    return t
l = sorted(L, key=by_name)
print(l)

[('Adam', 97), ('Bart', 65), ('Bob', 75), ('Liuyang', 89)]
************************************************************
[('Bart', 65), ('Bob', 75), ('Liuyang', 89), ('Adam', 97)]

In [31]:
help(str.lower)

Help on method_descriptor:

lower(...)
    S.lower() -> str

    Return a copy of the string S converted to lowercase.

#### 利用map()函数；还要利用lambda函数！把用户输入的不规范英文，变成首字母大写，其余字母小写的规范名字，比如说["AMNAm", "LASA", "JAck"]

In [15]:
l = ["AMNAm", "LASA", "JAck"]
print(list(map(lambda x: x.lower().capitalize(), l)))

['Amnam', 'Lasa', 'Jack']

#### 回数：从左向右和从右向左读都是一样的数，例如12321, 999，请利用filter函数；还要利用lambda函数！

In [17]:
rst = filter(lambda x: str(x)[0] == str(x)[len(str(x))-1], range(1000))
print(list(rst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

#### 假设我们用一组tuple来表示学生的姓名和成绩，L = [("Bob", 75), ("Adam", 97), ("Bart", 65), ("Liuyang", 29)]用sorted()以及lambda函数对上述列表先按照名字排序，然后再按成绩排序

In [46]:
L = [("Bob", 75), ("Adam", 97), ("Bart", 65), ("Liuyang", 89)]
print(list(sorted(L, key=lambda x: x[0])))
print(list(sorted(L, key=lambda x: x[0].lower())))
print("**" * 30)
print(list(sorted(L, key=lambda x: x[1], reverse=True)))

[('Adam', 97), ('Bart', 65), ('Bob', 75), ('Liuyang', 89)]
[('Adam', 97), ('Bart', 65), ('Bob', 75), ('Liuyang', 89)]
************************************************************
[('Adam', 97), ('Liuyang', 89), ('Bob', 75), ('Bart', 65)]

#### 权重
goods = [{"name":"good1", "price":200, "sales":100, "stars":5, "comments":400}, 
        {"name":"good2", "price":300, "sales":120, "stars":4, "comments":500}, 
        {"name":"good3", "price":500, "sales":3000, "stars":2, "comments":199},
        {"name":"good4", "price":1288, "sales":8, "stars":5, "comments":6}
        {"name":"good5", "price":899, "sales":99, "stars":5, "comments":2000}]
- 权重是100
- 价格占的权重是40%，销量占的权重是17%，评级占的权重是13%，评论占的权重是30%

In [51]:
goods = [{"name":"good1", "price":200, "sales":100, "stars":5, "comments":400}, 
        {"name":"good2", "price":300, "sales":120, "stars":4, "comments":500}, 
        {"name":"good3", "price":500, "sales":3000, "stars":2, "comments":199},
        {"name":"good4", "price":1288, "sales":8, "stars":5, "comments":6},
        {"name":"good5", "price":899, "sales":99, "stars":5, "comments":2000}] 
#print(goods)
# sorted()进行排序
def my_sorted(args):
    price = args["price"]
    sale = args['sales']
    star = args["stars"]
    comment = args["comments"]
    data = price * 0.4 + sale * 0.17 + star * 0.13 + comment * 0.3
    return data
print(sorted(goods, key=my_sorted))

[{'name': 'good1', 'price': 200, 'sales': 100, 'stars': 5, 'comments': 400}, {'name': 'good2', 'price': 300, 'sales': 120, 'stars': 4, 'comments': 500}, {'name': 'good4', 'price': 1288, 'sales': 8, 'stars': 5, 'comments': 6}, {'name': 'good3', 'price': 500, 'sales': 3000, 'stars': 2, 'comments': 199}, {'name': 'good5', 'price': 899, 'sales': 99, 'stars': 5, 'comments': 2000}]

In [55]:
goods = [{"name":"good1", "price":200, "sales":100, "stars":5, "comments":400}, 
        {"name":"good2", "price":300, "sales":120, "stars":4, "comments":500}, 
        {"name":"good3", "price":500, "sales":3000, "stars":2, "comments":199},
        {"name":"good4", "price":1288, "sales":8, "stars":5, "comments":6},
        {"name":"good5", "price":899, "sales":99, "stars":5, "comments":2000}] 
# 使用lambda
r = sorted(goods, key=lambda x: x['price'] * 0.4 + x["sales"] * 0.17 + x["stars"] * 0.13 + x["comments"] * 0.3, reverse=True)
print(r)

[{'name': 'good5', 'price': 899, 'sales': 99, 'stars': 5, 'comments': 2000}, {'name': 'good3', 'price': 500, 'sales': 3000, 'stars': 2, 'comments': 199}, {'name': 'good4', 'price': 1288, 'sales': 8, 'stars': 5, 'comments': 6}, {'name': 'good2', 'price': 300, 'sales': 120, 'stars': 4, 'comments': 500}, {'name': 'good1', 'price': 200, 'sales': 100, 'stars': 5, 'comments': 400}]